[submodule "src/ThirdParty/glfw"]
	path = src/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/ThirdParty/glm"]
	path = src/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
